.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #111111;
  border-bottom: 1px solid #262626;
  
  .logo {
    .logo-image {
      height: 24px;
      width: auto;
    }
  }
  
  .user-profile {
    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
